header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px; /* Ajusta el tamaño de los logotipos según tus necesidades */
    height: auto;
    margin-right: 10px; /* Espacio entre los logotipos */
}

.logo-izquierda {
    justify-content: flex-start;
}

.logo-derecha {
    justify-content: flex-end;
}
.nombre-organizacion {
    font-size: 18px; /* Ajusta el tamaño del texto según tus necesidades */
    margin-right: 10px; /* Espacio entre el nombre y el logotipo */
}


h1 {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}
.link {
    color: #0077cc; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado predeterminado */
    font-weight: bold; /* Hace que el texto del enlace sea negrita */
    margin-bottom: 10px; /* Espacio entre los enlaces */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover {
    text-decoration: underline;
}

.links {
    text-align: left;
}


/* Estilo para los íconos */
.icono {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}


.contenido {
    /* Estilos para centrar el contenido verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Ajusta la altura del contenido según tus necesidades */
}


.contenido.links a {
    margin-bottom: 10px; /* Aumenta el espacio entre los elementos */
    margin-left: 10px;
    display: block; /* Esto hará que cada enlace se muestre en una línea diferente */
}