header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px; /* Ajusta el tamaño de los logotipos según tus necesidades */
    height: auto;
    margin-right: 10px; /* Espacio entre los logotipos */
}

.logo-izquierda {
    justify-content: flex-start;
}

.logo-derecha {
    justify-content: flex-end;
}
.nombre-organizacion {
    font-size: 18px; /* Ajusta el tamaño del texto según tus necesidades */
    margin-right: 10px; /* Espacio entre el nombre y el logotipo */
}

h1 {
    margin: 0;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}



